<div class="messenger" style="bottom:0;right:0;height:20%;width:100%;position:fixed;z-index:100;background-color:white;">
  <ul id="messages"></ul>
  <form class="message" action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
  <script src="http://agile-forest-2507.herokuapp.com/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect("http://agile-forest-2507.herokuapp.com/");
    $('.message').submit(function (e) {
      e.preventDefault();
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      // return false;
    });
    socket.on('chat message', function (msg){
      $('#messages').append($('<li>').text(msg));
    });
  </script>
</div>
