<div class="messenger-nav-bar">
  <!-- button for selecting new rooms -->
  <button class="btn btn-warn" id="teamswitch">Switch Team</button>
    <!-- brings up modal of teams to select from -->
        <!-- on team click, have the socket emit 'update teams' event -->
  <!-- button to hide chat -->
  <button class="btn btn-info" id="chathide">Show Chat</button>
</div>
