<div class="container-fluid">
  <div class="col-sm-3 cold-md-2 sidebar">
    <ul class='nav nav-sidebar'>
      <%if current_user %>
        <%= link_to '<div class="btn btn-info">Logout</div>'.html_safe, sessions_url, method: :delete, class: "info-btn" %>
      <% end %>
      <li class='sidebar-brand'><%= current_user.username %></li>
      <li><%= image_tag 'light-logo.png', class: "logo" %></li>
      <div class="list-group">
        <a href="#" class="list-group-item">Teams</a>
        <a href="#" class="list-group-item">Projects</a>
        <a href="#" class="list-group-item">Tasks</a>
      </div>
    </ul>
  </div>
</div>
