<div class="container-fluid no-pad">
  <div class="sidebar">
    <ul class='nav nav-sidebar'>
      <% if current_user %>
        <%= link_to '<div class="btn btn-info logout">Logout</div>'.html_safe, sessions_url, method: :delete %>
      <% end %>
      <li class='sidebar-brand'><%= current_user.username %></li>
      <%= image_tag 'light-logo.png', class: "logo" %>
      <div class="list-group">
        <a href="#teams" class="list-group-item team-tab">Teams</a>
        <a href="#projects" class="list-group-item project-tab">Projects</a>
        <a href="#tasks" class="list-group-item task-tab">Tasks</a>
      </div>
    </ul>
  </div>
</div>
