<ul class='sidebar-nav'>
  <li><%= image_tag 'light-logo.png' %></li>
  <li class='sidebar-brand'><%= current_user.username %></li>
  <div class="list-group">
    <a href="#" class="list-group-item">Teams</a>
    <a href="#" class="list-group-item">Projects</a>
    <a href="#" class="list-group-item">Tasks</a>
  </div>
</ul>
