<div id='wrapper'>
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <%= render 'side_bar' %>
  </div>
  <!-- All Other Content -->
  <div id='page-content-wrapper' class='primary'>
    <!-- Main Content -->
    <div class="container-fluid top-pad">
      <div class="row">
        <div class="col-lg-12" id='main-content'>
        </div>
      </div>
    </div>
    <!-- Sub-Content -->
    <div id='sub'></div>
  </div>

</div>
