<div id='main'>
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <%= render 'side_bar' %>
  </div>
  <!-- All Other Content -->
  <div id='content'>
    <!-- Main Content -->
    <div id='main'></div>
    <!-- Sub-Content -->
    <div id='sub'></div>
  </div>

</div>
