

<button type="button" data-id="<%=task.escape("id")%>" class="list-group-item squared"
  style="border-radius: 0px;">
  <span class="details"><%= task.escape("name") %><span>
  <div type="button" class="btn-danger btn complete"><span class="glyphicon glyphicon-check"></span></div>
</button>
