<div class="content-head dropdown">
  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
    <li><a class="delete-task">Kick Task</a></li>
    <li><a class="create-task">Create task</a><li>
    <li><a class="edit-task">Edit task</a></li>
  </ul>
</div>
