<form class="new-instance">
  <input type="text" class="instance-name form-control"
  name="task[name]" placeholder="New Task Name">
  <input type="text-field" name="task[body]" placeholder="Task Description">
  <input type="date" name="task[start_date]">
  <input type="date" name="task[due_date]">
  <button type="submit" class="instance-name btn btn-success">&plus;</button>
</form>
