<form class="new-instance">
  <input type="text" class="instance-name form-control"
  name="team[name]" placeholder="New Team Name">
  <button type="submit" class="instance-name btn btn-success">&plus;</button>
</form>
