<form class="new-instance">
  <input type="text" class="instance-name form-control"
  name="project[name]" placeholder="Project Name">
  <textarea class="form-control" name=project[description] rows="3"
  placeholder="Description: ...venite calcitrare hoc porco piaculo..."></textarea>
  <button type="submit" class="instance-name btn btn-success">Create Project</button>
</form>
