$infocolor: #00d2da;
$warncolor: #da7500;
$dangercolor: #da0065;
$second: #0C6BE7;
$third: #0CACF1;
$fourth: #0CF1B9;
$fifth: #0CE773;
$maingrey: #555555;
$subgrey: #d2d2d2;
$midgrey: #929292;
$shadowgrey: darken(#888888, 20%);
$honeyback: url("honey_im_subtle.png");
$concreteback: url("concrete_seamless.png");
