@import "color_template";

div.container-fluid.no-pad {
  padding-left: 0;
  padding-right: 0;
}

#page-content-wrapper {
  z-index: 0;
  height: 100%;
  float: right;
  width: 83%;
}

div#main.container-fluid.top-pad {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 100%;
  max-height: 100%;
  width: 64%;
}

.panel-default > div.panel-heading {
  color: white;
  height: 5em;
  background: linear-gradient(
    to bottom,
    darken($infocolor, 8%),
    $infocolor,
    $infocolor
  );
  border-color: darken($infocolor, 5%);
}

div.panel.panel-default {
  margin: 0;
  background-color: $midgrey;
  border: none;
  box-shadow: 10px 5px 10px $shadowgrey;
  overflow-y: hidden;
}

.complete {
  float: right;
}

.content-body > div.content-title {
  color: $midgrey;
  font-size: 1.3em;
  margin: .5em 1em;
  padding: 0em .5em;
  border-radius: 5px;
  background-color: darken(white, 10%);
}

div.panel-heading .panel-title {
  font-size: 2em;
  float: left;
  border-radius: 3px;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
}

div.panel-heading .panel-title.linked {
  border: .125em solid darken(white, 10%);
  padding: 0em 0.25em;
  background: linear-gradient(to top, darken($infocolor, 9%) , $infocolor);
}

.content-head {
  margin-top: 5px;
  float: right;
}

button.list-group-item.squared {
  content: " ";
  border: none;
  clear: both;
  background: linear-gradient(to right, darken(white, 25%), transparentize(white, 1));
  background-color: white;
  transition: all 0.5s;
  &:hover {
    background-color: darken(white, 25%);
  }
}

.list-group-item.squared,
.panel > .list > .list-group:last-child .list-group-item.squared:last-child,
.panel > .list > button.list-group-item.squared:first-child,
.panel > .list > button.list-group-item.squared:last-child,
.panel > .panel-collapse > .list > .list-group:last-child .list-group-item.squared:last-child {
  border-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  margin-bottom: 1px;
}

div.list {
  background: $midgrey;
  height: 90%;
  overflow-y: auto;
}
