@import "color_template";

div.container-fluid.no-pad {
  padding-left: 0;
  padding-right: 0;
}

#page-content-wrapper {
  height: 100%;
  max-height: 100%;
  float: left;
  width: (.805)*80.5%;
}

div.container-fluid.top-pad {
  padding-bottom: 10px;
  padding-top: 10px;
  height: 100%;
}

.panel-default > div.panel-heading {
  color: white;
  height: 80px;
  background-color: $infocolor;
  border-color: darken($infocolor, 5%);
}

div.panel.panel-default {
  margin: 0;
  background-color: $midgrey;
  border-color: darken($infocolor, 5%)
}

button.glyphicon.glyphicon-plus {
  color: black;
  font-size: 30px;
  background-color: $fifth;
  border-radius: 8px;
  height: 45px;
  width: 45px;
  float: right;
  border-top-color: lighten($fifth, 10%);
  border-left-color: lighten($fifth, 10%);
  border-bottom-color: darken($fifth, 10%);
  border-right-color: darken($fifth, 10%);
}

button.glyphicon.glyphicon-plus:active {
  border-top-color: darken($fifth, 10%);
  border-left-color: darken($fifth, 10%);
  border-bottom-color: lighten($fifth, 10%);
  border-right-color: lighten($fifth, 10%);
  outline: none;
}

div.panel-heading .panel-title {
  font-size: 30px;
  float: left;
}
