@import 'color_template';
div.modal-content {
  z-index: 2;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: $infocolor;
  width: 25%;
  color: white;
}

.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

div.form-input {
  margin: 0 auto;
}

.team-name.form-control {
  float: left;
  width: 66%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.team-name.btn.btn-success {
  float: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

div.form-input input {
  color: black;
}
