// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
  width: (80.5% * (1 - .805));
}

.sidebar .logo {
  width: 100%;
}
