@import "color_template";

.sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
  width: (80.5% * (1 - .805));
  background-color: $maingrey;
}

.sidebar .logo {
  width: 100%;
}
