<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Create New Team</h4>
  </div>
  <div class="modal-body clearfix">
    <form class="new-team">
      <input type="text" class="team-name form-control" name="name" placeholder="New Team Name">
      <button class="team-name btn btn-success" type="submit">&plus;</button>
    </form>
  </div>
</div>
