<div class="panel-heading">
  <div class="panel-title"><%= hdr %></div>
  <button class="btn btn-success add-member">Add <%= btn_hdr %></button>
</div>

<!-- List group -->
<ul id="<%= list %>" class="list-group">
</ul>
