<div class="panel-heading">
  <div class="panel-title"><%= header %></div>
  <%= button %>
</div>

<section class ="content-body">
  <div class="content-title">
    Description:<br>
    <%= description %>
  </div>

  <!-- List group -->
  <ul id="<%= list %>" class="list-group">
  </ul>
</section>
