<div class="panel-heading">
  <div class="panel-title"><%= hdr %></div>
  <button class="btn btn-success add-model" data-toggle="modal" data-target="#myModal">Add <%= btn_hdr %></button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
    </div>
  </div>
</div>

<!-- List group -->
<ul class="list-group">
</ul>
