
<!-- Default panel contents -->
<div class="panel-heading">
  <div class="panel-title">Teams</div>
  <button class="glyphicon glyphicon-plus" aria-hidden="true"></button>
</div>

<!-- List group -->
<ul class="list-group">
</ul>
